.composition{
    position: relative;
    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black,.4);
        border-radius: .2rem;
        position:absolute;
        z-index: 1;
        transition: all .2s;
        outline-offset: 1rem;

        &--p1{
            top: 4rem ;
            left: 0;
        }
        &--p2{
            top: 8rem ;
            right: 0;
        }
        &--p3{
            top:15rem ;
            left: 20%;
        }
        &:hover{
            outline-style: ridge;
            outline-color: burlywood;
            outline-width: 1.5rem;
            transform: scale(1.2);
            box-shadow: 0 2.5rem 4rem rgba($color-black,.8);
            z-index: 10;
        }
        
        }
    }
